*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1090px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004) ;
}

.container img{

    max-width:350px;
    height: 350px;
    opacity: 1;
    transform-origin: center;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 0 7px  grey;
    transform: perspective(800px)  rotateY(20deg);
}


.container:hover img{
    opacity: 0.3;
}

.container img:hover{
    transform:perspective(800px) rotateY(0deg);
    opacity: 1;
}































